@use '../../sass/abstracts' as *;

.wrap {
	@include element;

	min-height: 10rem;
	height: auto;

	margin-bottom: 1.6rem;

	@include breakpoint-up('small') {
		margin-bottom: 2.4rem;
	}
}

.messageWrap {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding-top: 3rem;

	font-size: 1.6rem;
	color: var(--text-main);

	@include breakpoint-up('small') {
		font-size: 1.8rem;
	}
}

.bar {
	display: flex;
	justify-content: space-between;
	padding: 1.6rem 2rem;
	padding-bottom: 2rem;

	font-size: 1.2rem;

	@include breakpoint-up('small') {
		padding: 1.6rem 2.4rem;
		font-size: 1.4rem;
	}

	button:hover {
		color: var(--text-main);
	}
}
