@use '../../sass/abstracts' as *;

.checkbox {
	appearance: none;
	height: 2rem;
	width: 2rem;
	border-radius: 100%;
	border: 1px solid var(--divider);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	& + label {
		cursor: pointer;
	}

	@include breakpoint-up('medium') {
		width: 2.4rem;
		height: 2.4rem;
	}
}

.checkbox:checked {
	border: none;
	background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);

	& + label {
		color: var(--text-disabled);
		text-decoration: line-through;
	}
}

.checkbox:checked::after {
	content: '';
	position: relative;
	top: -0.1rem;
	width: 0.725rem;
	height: 0.5rem;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(-45deg);

	@include breakpoint-up('medium') {
		width: 0.87rem;
		height: 0.6rem;
	}
}
